<div class="container header" id="quote">
	<%= link_to quote.quote, today_url(:last_quote => quote.id), :class => "lead", :remote => true %>
	<p class>
		<cite>
			<%= quote.teacher %>
		</cite>
	</p>
	<br>
</div>