<div class="container header">
	<h3>New quote</h3>
</div>

<p><strong>Thanks, your quote was sent for verification.</strong></p>

<!-- FOOTER -->
<div class="container footer">
		<p class="muted"><br><br>
			<%= link_to 'Back to Vitamins', today_url %> | <%= link_to 'New quote', new_url %>
		</p>
</div>