<div class="container header">
	<h3>New quote</h3>
</div>

<%= render 'form'%>

<!-- FOOTER -->
<div class="container footer">
		<p class="muted"><br>
			<%= link_to 'Back to Vitamins', today_url %>
		</p>
</div>