<!-- HEADING -->
<div class="container header">
	<h3>Kagyu Daily Vitamin</h3>
</div>

<!-- QUOTE -->
<div class="container header">
	<p class="lead">"<%= @quote_today.quote %>"</p>
	<p class>
		<cite>
			<%= @quote_today.teacher %>
		</cite>
	</p>
	<br>
</div>

<%= render 'google_analytics' %>




